@model List<aspnetapp.Models.Sales>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<h2>DashBoard</h2>

<!-- https://localhost:5001/api/Sales -->


<div id="container" style="min-with: 310px; height: 400px; margin: 0 auto"></div>


